# Dependencies
node_modules/
.pnp
.pnp.*

# Build outputs
dist/
build/
.next/
out/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# Editor / OS
.DS_Store
Thumbs.db
.idea/

# Test / coverage
coverage/

# Prisma local db files
*.db
*.db-journal
